<h1>タスク編集</h1>

<%# エラーメッセージ %>
<%= render "shared/error_message" %>

<%= form_with(model: @current_task, local: true ) do |f| %>
  <div><%= f.text_field :task %></div>
  <div><%= f.submit %></div>
<% end %>

<%= link_to '戻る', tasks_path %>