<h1>タスク</h1>

<%# フォーム %>
<%= render "shared/form", task_model: @input_task %>

<%# エラーメッセージ %>
<%= render "shared/error_message" %>

<table>
  <thead>
    <tr>
      <th>タスク一覧</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
        <tr>
            <td>
              <%= task.task %>
              <%= link_to edit_task_path(task.id) do %>
                <button>編集</button>
              <% end%>
              <%= link_to task_path(task.id), method: :delete do %>
                <button>削除</button>
              <% end%>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>

<%# タスクが存在しない場合 %>
<% if @no_tasks_message.present? %>
    <span><%= @no_tasks_message %></span>
<% end %>